
<p-sidebar
  [(visible)]="visibleSidebars"
  position="top"
  [baseZIndex]="99"
  [modal]="sidebarStyles"
  [dismissible]="sidebarStyles"
  [showCloseIcon]="sidebarStyles"
  [styleClass]="'homework-top-sidebar'"
>
  <a routerLink="/">
    <h1>{{ title }}</h1>
  </a>
</p-sidebar>

<p-sidebar
  [(visible)]="visibleSidebars"
  [baseZIndex]="9"
  [modal]="sidebarStyles"
  [dismissible]="sidebarStyles"
  [showCloseIcon]="sidebarStyles"
  [styleClass]="'homework-left-sidebar'"
>
  <p-menu
    [model]="menuItems"
    [styleClass]="'homework-main-menu'"
  ></p-menu>
</p-sidebar>

<div class="homework-content">
  <router-outlet></router-outlet>
</div>
