<h2>Clients List</h2>

<p-messages [value]="statusMsg"></p-messages>

<p-table #dt
         [columns]="columns"
         [value]="clients"
         [paginator]="true"
         [rows]="rowsPerPage"
         [first]="rowsSortMeta.page"
         (onPage)="onPageChange($event)"
         sortMode="multiple"
         [multiSortMeta]="rowsSortMeta.sort"
         (onSort)="onSort($event)"
         [globalFilterFields]="['id', 'firstName', 'lastName', 'personalID']"
         [filters]="rowsSortMeta.filter"
         (onFilter)="onFilter($event)">

  <ng-template pTemplate="caption">
    <div class="homework-clients-table-caption">
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" pInputText size="40" placeholder="Global Filter"
               (input)="dt.filterGlobal($event.target.value, 'contains')"
               [value]="dt.filters && dt.filters['global'] ? dt.filters['global'].value: ''">

        <button type="button" pButton label="Clear" (click)="resetTable()"></button>
      </div>

      <button pButton icon="fa fa-plus" class="ui-button-success" label="Add New Client" routerLink="/clients/create"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngIf="col.field != 'delete' && col.field != 'details'"
               pInputText
               type="text"
               style="max-width: 100%"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
               [value]="dt.filters && dt.filters[col.field] ? dt.filters[col.field].value: ''">
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-client>
    <tr>
      <td>{{ client.id }}</td>
      <td>{{ client.firstName }}</td>
      <td>{{ client.lastName }}</td>
      <td>{{ client.personalID }}</td>

      <td>
        <button type="button" pButton icon="fa fa-link" [routerLink]="[client.id]"></button>
      </td>

      <td>
        <button type="button" pButton icon="fa fa-user-minus"
                class="ui-button-danger" (click)="clientDeleteConfirmation(client.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>
