<div class="ui-g">
  <form class="homework-forms"
        [formGroup]="clientForm"
        (ngSubmit)="clientFormSubmit()">

    <input type="hidden" formControlName="id">

    <div class="ui-g-4 mb-1">
      <span class="ui-float-label">
          <input id="first-name" type="text" size="30" pInputText formControlName="firstName">
          <label for="first-name">First Name</label>
      </span>

      <div
        class="errors"
        *ngIf="!clientForm.get('firstName').valid && clientForm.get('firstName').touched"
      >
        <span *ngIf="clientForm.get('firstName').errors['required']">
            This field is required
        </span>
        <span *ngIf="clientForm.get('firstName').errors['minlength'] || clientForm.get('firstName').errors['maxlength']">
            Min characters number 2, max - 50
        </span>
        <span *ngIf="clientForm.get('firstName').errors['forbiddenName']">
            Use only geo or eng characters
        </span>
      </div>
    </div>

    <div class="ui-g-4 mb-1">
      <span class="ui-float-label">
          <input id="last-name" type="text" size="30" pInputText formControlName="lastName">
          <label for="last-name">Last Name</label>
      </span>

      <div
        class="errors"
        *ngIf="!clientForm.get('lastName').valid && clientForm.get('lastName').touched"
      >
        <span *ngIf="clientForm.get('lastName').errors['required']">
            This field is required
        </span>
        <span *ngIf="clientForm.get('lastName').errors['minlength'] || clientForm.get('lastName').errors['maxlength']">
            Min characters number 2, max - 50
        </span>
        <span *ngIf="clientForm.get('lastName').errors['forbiddenName']">
            Use only geo or eng characters
        </span>
      </div>
    </div>

    <div class="ui-g-4 mb-1">
      <div class="ui-g-4">
        <h3 style="margin: 0;">Gender:</h3>
      </div>

      <div class="ui-g-4">
        <p-radioButton name="gender" value="male" label="Male" formControlName="gender"></p-radioButton>
      </div>

      <div class="ui-g-4">
        <p-radioButton name="gender" value="female" label="Female" formControlName="gender"></p-radioButton>
      </div>

      <div
        class="errors"
        *ngIf="!clientForm.get('gender').valid && clientForm.get('gender').touched"
      >Something went wrong</div>
    </div>

    <div class="ui-g-4">
      <span class="ui-float-label">
          <input id="personal-id" type="text" size="30" pInputText formControlName="personalID">
          <label for="personal-id">Personal ID</label>
      </span>

      <div
        class="errors"
        *ngIf="!clientForm.get('personalID').valid && clientForm.get('personalID').touched"
      >
        <span *ngIf="clientForm.get('personalID').errors['required']">
            This field is required
        </span>
        <span *ngIf="clientForm.get('personalID').errors['pattern']">
            Use only numbers
        </span>
      </div>
    </div>

    <div class="ui-g-4">
      <span class="ui-float-label">
          <input id="mobile" type="text" size="30" pInputText formControlName="mobile">
          <label for="mobile">Mobile</label>
      </span>

      <div
        class="errors"
        *ngIf="!clientForm.get('mobile').valid && clientForm.get('mobile').touched"
      >
        <span *ngIf="clientForm.get('mobile').errors['mobile']">
            This field is required
        </span>
        <span *ngIf="clientForm.get('mobile').errors['pattern']">
            Start with 5 and use only numbers
        </span>
      </div>
    </div>

    <div class="ui-g-4">
      <div class="ui-g-4">
        <h3 style="margin: 5px;">Photo</h3>
      </div>

      <div class="ui-g-8">
        <p-fileUpload mode="basic"
                accept="image/*"
                styleClass="homework-upload-button"
                (onSelect)="onClientPhotoSelect($event)"></p-fileUpload>
      </div>
    </div>

    <div formGroupName="legalAddress">
      <div class="ui-g-12">
        <h3>Legal Address</h3>
      </div>

      <div class="ui-g-4">
        <input type="text" size="30" placeholder="Country" pInputText formControlName="country">

        <div
          class="errors"
          *ngIf="!clientForm.get('legalAddress.country').valid && clientForm.get('legalAddress.country').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-4">
        <input type="text" size="30" placeholder="City" pInputText formControlName="city">

        <div
          class="errors"
          *ngIf="!clientForm.get('legalAddress.city').valid && clientForm.get('legalAddress.city').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-4">
        <input type="text" size="30" placeholder="Address" pInputText formControlName="address">

        <div
          class="errors"
          *ngIf="!clientForm.get('legalAddress.address').valid && clientForm.get('legalAddress.address').touched"
        >This field is required</div>
      </div>
    </div>

    <div formGroupName="physicalAddress">
      <div class="ui-g-12">
        <h3>Physical Address</h3>
      </div>

      <div class="ui-g-4 mb-1">
        <input type="text" size="30" placeholder="Country" pInputText formControlName="country">

        <div
          class="errors"
          *ngIf="!clientForm.get('physicalAddress.country').valid && clientForm.get('physicalAddress.country').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-4 mb-1">
        <input type="text" size="30" placeholder="City" pInputText formControlName="city">

        <div
          class="errors"
          *ngIf="!clientForm.get('physicalAddress.city').valid && clientForm.get('physicalAddress.city').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-4 mb-1">
        <input type="text" size="30" placeholder="Address" pInputText formControlName="address">

        <div
          class="errors"
          *ngIf="!clientForm.get('physicalAddress.address').valid && clientForm.get('physicalAddress.address').touched"
        >This field is required</div>
      </div>
    </div>

    <div class="ui-g-12">
      <button type="submit" pButton label="Save" [disabled]="!clientForm.valid"></button>
    </div>
  </form>
</div>
