<h2>Clients Details</h2>

<p-messages [value]="statusMsg"></p-messages>

<p-tabView>
  <p-tabPanel header="Client Details">
    <app-client-form
      [client]="client"
      (onClientFormSubmit)="showStatusMsg($event)"
    ></app-client-form>
  </p-tabPanel>

  <p-tabPanel header="Client Accounts">
    <p-table [value]="clientAccounts">
      <ng-template pTemplate="caption">
        <div style="text-align:right">
          <button type="button" pButton icon="fa fa-plus"
                  class="ui-button-success"
                  label="Add Client Account"
                  (click)="toggleAccountFormDialog()"></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Account Number</th>
          <th>Account Type</th>
          <th>Account Currency</th>
          <th>Status</th>
          <th>Close</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-account>
        <tr>
          <td>{{account.id}}</td>
          <td>{{account.type}}</td>
          <td>{{account.currency}}</td>
          <td>
            <span *ngIf="account.accountStatus">Active</span>
            <span *ngIf="!account.accountStatus">Closed</span>
          </td>
          <td>
            <button type="button" pButton icon="fa fa-level-down-alt"
                    class="ui-button-danger"
                    (click)="closeClientAccount(account.id)"
                    *ngIf="account.accountStatus"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>


<p-dialog
  header="New Client Account"
  (onShow)="onAccountFormDialogShow()"
  [(visible)]="showAccountFormDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
>
  <app-account-form
    [clientID]="client.id"
    [formResetRequest]="resetAccountForm"
    (onAccountFormSubmit)="onAccountFormSubmit($event)"
  ></app-account-form>
</p-dialog>
