
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #4c4c4c;
}

label {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.mb-1 {
  margin-bottom: 1.5em;
}

.homework-top-sidebar {
  height: auto;
}

.homework-top-sidebar h1 {
  font-size: 1.71em;
  margin: 0.5em 0;
}

.ui-sidebar.homework-left-sidebar {
  width: 15em;
  padding:  6em 0 1em;
}

body .ui-menu.homework-main-menu {
  width: 100%;
  border: none;
}

body .ui-menu.homework-main-menu .ui-menuitem-link {
  padding-left: 1em;
}

body .ui-menu.homework-main-menu .ui-menuitem-link.ui-state-active {
  background-color: #eaeaea;
}

.homework-content {
  margin-top: 7em;
  margin-left: 16em;
  margin-right: 2em;
}

body .ui-tabview .ui-tabview-panels {
  background-color: #f9f9f9;
}

.homework-clients-table-caption {
  display: flex;
  justify-content: space-between;
}

.homework-clients-table-caption .search {
  position: relative;
}

.homework-clients-table-caption .search i {
  position: absolute;
  top: 50%;
  left: 0.625em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.homework-clients-table-caption .search input[type=text] {
  padding-left: 2.12em;
  margin-right: 0.625em;
}

.homework-from-wrapper {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #f9f9f9;
}

.homework-forms {
  margin: 2em 0;
}

.homework-forms .ui-inputtext.ng-invalid.ng-touched {
  border-color: red;
}

.homework-forms .ui-inputtext.ng-invalid.ng-touched + label {
  color: red;
}

.homework-forms .ui-inputtext.ng-invalid.ng-touched::placeholder {
  color: red;
  opacity: 1;
}

.errors {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  color: red;
  position: absolute;
}

.errors span {
  display: block;
  margin: 0.25em 0;
}

.homework-upload-button {
  max-width: 100%;
}

.homework-upload-button .ui-button-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
