<div class="ui-g">
  <form class="homework-forms" [formGroup]="accountForm" (ngSubmit)="accountFormSubmit()">

      <input type="hidden" formControlName="id">

      <input type="hidden" formControlName="clientID">

      <div class="ui-g-6 mb-1">
        <p-dropdown [options]="accountTypes"
                    optionLabel="name"
                    placeholder="Select Account Type"
                    [style]="{'width':'270px'}"
                    formControlName="type"></p-dropdown>
        <div
          class="errors"
          *ngIf="!accountForm.get('type').valid && accountForm.get('type').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-6 mb-1">
        <p-dropdown [options]="accountCurrencies"
                    optionLabel="name"
                    placeholder="Select Account Currency"
                    [style]="{'width':'270px'}"
                    formControlName="currency"></p-dropdown>
        <div
          class="errors"
          *ngIf="!accountForm.get('currency').valid && accountForm.get('currency').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-6 mb-1">
        <p-triStateCheckbox label="Status" formControlName="accountStatus"></p-triStateCheckbox>

        <div
          class="errors"
          *ngIf="!accountForm.get('accountStatus').valid && accountForm.get('accountStatus').touched"
        >This field is required</div>
      </div>

      <div class="ui-g-12">
        <button type="submit" pButton label="Save" [disabled]="!accountForm.valid"></button>
      </div>
    </form>
</div>
